<?xml version="1.0" encoding="utf-8" ?>
<configs>
  <ocrSuccessPath>D:\app\success\</ocrSuccessPath>
  <descPath>D:\app\desc\</descPath>
  <selectUrl>http://106.75.85.21:10030/hoboom/streams/redis</selectUrl>
  <updateUrl>http://106.75.85.21:10030/hoboom/singleFlag</updateUrl>
  <multiFlagUrl>http://106.75.85.21:10030/hoboom/multiFlag</multiFlagUrl>
  <userUploadUrl>http://106.75.85.21:10030/hoboom/streams</userUploadUrl>
  <tempSoucePath>D:\app\resource\</tempSoucePath>
  <tempFinishPath>D:\app\finish\</tempFinishPath>
  <docType>19</docType>
</configs>
